<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Dan</title>
</head>

{{> header}}

<body>
    <p>Hello, my name is Dan. I am currently enrolled in computer science at BCIT</p>
</body>

    {{> footer}}

</html>