<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Dan</title>
</head>

    {{> header}}
<body>
    <a href=/currency>Exchange</a> <a href=/about>About</a>
</body>

    {{> footer}}

</html>